<!-- A loading spinner featuring a chess piece in a rotating circle -->
<div class="loader">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h2 class="loaderTitle">@Title</h2>
    }
    <div class="loaderSpinner" />
    <div class="loaderBackground">
        <img src="images/Chess_Pieces_Sprite.svg#svgView(viewBox(0, 45, 45, 45))" />
    </div>
</div>

@code {
    /// <summary>
    /// Gets or sets optional text that will be displayed on the loading spinner.
    /// </summary>
    [Parameter]
    public string? Title { get; set; }
}
