<!-- ko with: manage -->
<div data-bind="visible: loading">Loading...</div>
<div data-bind="visible: !loading()">
    <p class="text-success" data-bind="text: message"></p>
    <h2>Manage Account</h2>
    <section>
        <div data-bind="with: changePassword">
            <p class="text-info">You're logged in as <strong data-bind="text: name"></strong>.</p>
            <form class="form-horizontal" role="form">
                <h4>Change your password</h4>
                <hr />
                <ul class="text-danger" data-bind="foreach: errors">
                    <li data-bind="text: $data"></li>
                </ul>
                <div class="form-group">
                    <label for="ChangePasswordOldPassword" class="col-md-2 control-label">Old password</label>
                    <div class="col-md-10">
                        <input type="password" id="ChangePasswordOldPassword" class="form-control" data-bind="value: oldPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChangePasswordNewPassword" class="col-md-2 control-label">New password</label>
                    <div class="col-md-10">
                        <input type="password" id="ChangePasswordNewPassword" class="form-control" data-bind="value: newPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChangePasswordConfirmPassword" class="col-md-2 control-label">Confirm new password</label>
                    <div class="col-md-10">
                        <input type="password" id="ChangePasswordConfirmPassword" class="form-control" data-bind="value: confirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default" data-bind="click: change, disable: changing">Change password</button>
                    </div>
                </div>
            </form>
        </div>
        <div data-bind="with: setPassword">
            <p>You do not have a local username/password for this site. Add a local account so you can log in without an external login.</p>
            <form class="form-horizontal" role="form">
                <h4>Create Local Login</h4>
                <hr />
                <ul class="text-danger" data-bind="foreach: errors">
                    <li data-bind="text: $data"></li>
                </ul>
                <div class="form-group">
                    <label for="SetPasswordNewPassword" class="col-md-2 control-label">New password</label>
                    <div class="col-md-10">
                        <input type="password" id="SetPasswordNewPassword" class="form-control" data-bind="value: newPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="SetPasswordConfirmPassword" class="col-md-2 control-label">Confirm new password</label>
                    <div class="col-md-10">
                        <input type="password" id="SetPasswordConfirmPassword" class="form-control" data-bind="value: confirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default" data-bind="click: set, disable: setting">Set password</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section>
        <ul class="text-danger" data-bind="foreach: errors">
            <li data-bind="text: $data"></li>
        </ul>
        <div data-bind="if: logins().length > 0">
            <h4>Registered logins</h4>
            <table class="table">
                <tbody data-bind="foreach: logins">
                    <tr>
                        <td data-bind="text: loginProvider"></td>
                        <td>
                            <div data-bind="if: $parent.canRemoveLogin">
                                <form>
                                    <div>
                                        <button type="submit" class="btn btn-default" data-bind="attr: { title: 'Remove this ' + loginProvider() + ' credential from your account' }, click: remove, disable: removing">Remove</button>
                                    </div>
                                </form>
                            </div>
                            <span data-bind="if: !$parent.canRemoveLogin()">&nbsp;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Add an external login</h2>
        <div data-bind="visible: !hasExternalLogin()">
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
        <form class="form-horizontal" role="form" data-bind="visible: hasExternalLogin">
            <h4>Use another service to log in.</h4>
            <hr />
            <p data-bind="foreach: externalLoginProviders">
                <button type="submit" class="btn btn-default" data-bind="text: name, attr: { title: 'Log in using your ' + name() + ' account' }, click: login"></button>
            </p>
        </form>
    </section>
</div>
<!-- /ko -->
