<!-- ko with: register -->
<h2>Register</h2>
<form class="form-horizontal" role="form">
    <h4>Create a new account.</h4>
    <hr />
    <ul class="text-danger" data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>
    <div class="form-group">
        <label for="RegisterUserName" class="col-md-2 control-label">User name</label>
        <div class="col-md-10">
            <input type="text" id="RegisterUserName" class="form-control" data-bind="value: userName, hasFocus: true" />
        </div>
    </div>
    <div class="form-group">
        <label for="RegisterPassword" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" id="RegisterPassword" class="form-control" data-bind="value: password" />
        </div>
    </div>
    <div class="form-group">
        <label for="RegisterConfirmPassword" class="col-md-2 control-label">Confirm password</label>
        <div class="col-md-10">
            <input type="password" id="RegisterConfirmPassword" class="form-control" data-bind="value: confirmPassword" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default" data-bind="click: register, disable: registering">Register</button>
        </div>
    </div>
    <p><a href="#" data-bind="click: login">Log in</a> if you already have a local account.</p>
</form>
<!-- /ko -->
