@page "/about"

<h3>Chess Trainer</h3>
<p>
    This sample app demonstrates a Blazor front-end in the context of a chess puzzle app. Technologies used include:
</p>
<ul>
    <li>ASP.NET Core 3.1</li>
    <li>Blazor</li>
    <li>Entity Framework Core 3.1</li>
    <li>Material Design Components for Web</li>
    <li>Font Awesome icons</li>
</ul>
<h4>Attributions</h4>
<ul>
    <li><a href="http://commons.wikimedia.org/wiki/Template:SVG_chess_pieces">Chess piece images</a> by jurgenwesterhof (adapted from work of Cburnett), used under <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-SA 3.0</a>.</li>
</ul>
