@page "/"

@using  MjrChess.Trainer.Components;

<!-- Display the chess puzzle component -->
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <ChessPuzzle />
    </div>
</div>

@code {
    // Expose NavCommandButtons for consumption by the layout
    public static Dictionary<string, object> GetLayoutParameters() =>
        new Dictionary<string, object>()
        {
                { "NavCommandButtons", NavCommandButtons }
        };

    public static RenderFragment NavCommandButtons
    {
        get
        {
            return new RenderFragment(builder =>
            {
                builder.OpenComponent<MainCommandButtons>(0);
                builder.CloseComponent();
            });
        }
    }
}