
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a href="http://localhost:5000/api/domain">localhost:5000</a></li>
        <li><a href="http://localhost:5001/api/domain">localhost:5001</a></li>
        <li><a href="http://localhost:5002/api/domain">localhost:5002</a></li>

        <li><a href="http://127.0.0.1:5000/api/domain">127.0.0.1:5000</a></li>
        <li><a href="http://127.0.0.1:5001/api/domain">127.0.0.1:5001</a></li>
        <li><a href="http://127.0.0.1:5002/api/domain">127.0.0.1:5002</a></li>
    </ul>
    <p>
        <a href="http://localhost:5000/api/graph">Graph</a>
    </p>
</body>
</html>
