@using Microsoft.AspNetCore.Blazor.Routing
<nav>
    <ul class="nav">
        <li class="nav-item">
            <NavLink ActiveClass="active" href="/" Match="NavLinkMatch.All" class="nav-link">Search Flights</NavLink>
        </li>
        <li class="nav-item">
            <NavLink ActiveClass="active" href="/cars" Match="NavLinkMatch.All" class="nav-link">Search Car Rentals</NavLink>
        </li>
    </ul>
</nav>