@inject HttpClient Http

<datalist id="airports">
    @foreach (var airport in airports)
    {
        <option value="@airport.Code">@airport.DisplayName (@airport.Code)</option>
    }
</datalist>

@code
{
    private Airport[] airports = Array.Empty<Airport>();

    protected override async Task OnInitializedAsync()
    {
        airports = await Http.GetJsonAsync<Airport[]>("api/airports");
    }
}
