<div class=@(IsGreyedOut ? "greyout" : "")>
    <div class="cover"></div>

    @ChildContent
</div>

@functions
{
    [Parameter]
    private RenderFragment ChildContent { get; set; }
    [Parameter]
    private bool IsGreyedOut { get; set; }
}
