<h2>Shortlist (@Items.Count)</h2>

@foreach (var item in Items)
{
    <ul class="list-group mb-4">
        @if (item is FlightItinerary flight)
        {
            <ShortlistFlightItem Itinerary="flight" OnRemoveItinerary="() => OnRemoveItinerary(item)"/>
        }
        else if (item is CarRentalItinerary car)
        {
            <ShortlistCarRentalItem Itinerary="car" OnRemoveItinerary="() => OnRemoveItinerary(item)" />
        }
    </ul>
}

@functions
{
    [Parameter] IReadOnlyList<object> Items { get; set; }
    [Parameter] Action<object> OnRemoveItinerary { get; set; }
}
